.video-player {
  position: relative;
  width: 400px;
  height: 250px;
  border: 1px solid grey;
  color: #fff;
}
#video {
  width: 100%; 
  height: 100%;
  object-fit: contain;
}
#video-play-btn {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.video-controls {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  transition: opacity .2s;
  background-color: #42424280;
}
.controls-bar {
  list-style: none;
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0 5px;
  box-sizing: border-box;
}
.controls-bar-list {
  position: relative;
  text-align: center;
  flex: 1;
  font-size: .8em;
  transition: .4s;
}
.controls-bar-list:hover {
  background-color: #42424280;
}
#video-volume:hover #volume-bar {
  display: block;
}
#volume-bar {
  position: absolute;
  display: none;
  width: 20px;
  height: 62px;
  left: 50%;
  transform: translate(-50%);
  top: -62px;
  border-radius: 10px;
  background-color: #42424288;
  padding: 6px 7px;
  box-sizing: border-box;
}
#volume-progess {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: deepskyblue;
}
#volume-btn {
  position: absolute;
  top: -3px;
  width: 8px;
  height: 6px;
  background-color: #fff;
  border-radius: 1px;
  margin: 0;
  margin-left: -1px;
}
#volume-shadow {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 0px;
  background-color: #666;
  border-radius: 1px;
  margin: 0;
}
#video-progress-wrap {
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #424242;
  flex: 5;
  margin: 0 10px;
}
#video-progress {
  position: absolute;
  top: -2px;
  left: -5px;
  width: 10px;
  height: 14px;
  background-color: #fff;
  border-radius: 2px;
  outline: none;
  border: none;
}
#video-progress-shadow {
  width: 0px;
  height: 10px;
  background-color: deepskyblue;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#play-rate {
  position: relative;
  cursor: pointer;
}
#rate-bar {
  width: 100%;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 2px;
  overflow: hidden;
}
.rate-bar-list {
  background-color: #42424280;
  font-size: .6em;
  width: 100%;
  padding: 1px 0;
  box-sizing: border-box;
}
.rate-bar-list:hover {
  background-color: #424242;
}
.full-screen,.video-player {
  background-color: #424242;
}
.full-screen {
  object-fit: contain;
  user-select: text;
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  box-sizing: border-box !important;
  min-width: 0px !important;
  max-width: none !important;
  min-height: 0px !important;
  max-height: none !important;
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
  margin: 0px !important;
}